



/* ======================header================= */

/* ======================/header================= */





/* ======================index-sector-four================= */


/* ======================section-icons================= */


/* .icon-card:hover {
    fill: #404BBF;
}
.icon-card:focus {
    fill: #404BBF;
} */


/* ======================portfolio================= */

.portfolio-section {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-ul-but {
    display: flex;
    justify-content: center;

    gap: 24px;
    margin-bottom: 72px;
}

.portfolio-but {
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--light-white-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-but:hover {
    border: 1px solid transparent;
    color: var(--white-color);
    background-color: var(--blue-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-but:focus {
    border: 1px solid transparent;
    color: var(--white-color);
    background-color: var(--blue-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-photo-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    column-gap: 24px;
    row-gap: 48px;
}

/* .portfolio-photo-li {
} */

.link-photo {
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-photo:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.link-photo:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.name-and-category {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-wrapper-photo {
    position: relative;
    overflow: hidden;
    
}

.portfolio-p-in-photo {
    position: absolute;

    color: var(--grey-light-color);
    background-color: var(--blue-white-color);
    
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    padding: 40px 32px;

    transform: translateY(100%);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    /* 150% */
    letter-spacing: 0.02em;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio-wrapper-photo:hover .portfolio-p-in-photo{
    transform: translateY(0%);
}

.link-photo:focus .portfolio-p-in-photo {
    transform: translateY(0%);
}

.portfolio-li-htwo {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--blue-black-color);
    background-color: #FFFFFF;
}

.portfolio-p-in-li {
    color: var(--grey-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em
}

.portfolio-but {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
    cursor: pointer;
}

/* ======================footer================= */



/* ======================/footer================= */


