:root {
    --white-color: #ffffff;
    --blue-black-color: #2e2f42;
    --blue-color: #404bbf;
    --blue-white-color: #4d5ae5;
    --grey-color: #434455;
    --light-white-color: #e7e9fc;
    --grey-light-color: #f4f4fd;
    --grey-black-color: #8e8f99;
}