.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.calc {
    width: calc((100% - 72px) / 4);
}

.calc-photo {
    width: calc((100% - 48px) / 3);
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--white-color);
    color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0px;
}

ul,
ol {
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    padding: 0px;
    border: none;
    cursor: pointer;
}

